<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 500 - Internal Error</title>
    <style>
    html, body {
        margin: 0; padding: 0;
        background-color: black;
        color: #eee;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    </style>
</head>
<body>
    <h1>500 - Internal Error</h1>
    <p>It's Server Side Error, that's not Your fault. You can try again. If error won't disappear send email to admin!</p>
</body>
</html>