<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dark Nova</title>
    <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body>
    <h1>Welcome to Dark Nova</h1>
    <div id="login">
        <form method="POST" action="/login">
            <input type="email" name="email" placeholder="email" required><br>
            <input type="password" name="password" placeholder="password" required><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <div id="register">
        <form method="POST" action="/register">
            <input type="email" name="email" placeholder="email" required><br>
            <input type="password" name="password" placeholder="password" required><br>
            <input type="password" placeholder="retype password" required><br>
            <input type="submit" value="Register">
        </form>
    </div>
    <footer>Dark Nova - in developmentu</footer>
</body>
</html>
