<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dark Nova - Create Player</title>
    <link rel="stylesheet" href="/public/styles/epic-blue.css"/>
</head>
<body>
    <div class="small-window window-centered">
        <p class="window-title">Choose Your nickname</p>
        <div class="window-content centered">
            <% if(locals.error) { %>
                <p class="error"><%=error %></p> 
            <% } %>
            <form method="POST">
                <label for="nickname">Nickname: </label><br>
                <input type="text" name="nickname" id="nickname" /><br>
                <input type="submit" value="ok" />
            </form>
        </div>
    </div>
</body>
</html>