<% title = `${planet.name} - Buildings` %>
<%- include("partials/layout-top.ejs") %>
<%- include("partials/nav.ejs") %>

<div class="small-window window-centered">
    <p class="window-title">No Research Lab on planet</p>
    <div class="window-content centered">
        You have to build Research Lab on this planet first.
    </div>
</div>

<%- include("partials/layout-bot.ejs") %>