<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dark Nova - Create Player</title>
    <link rel="stylesheet" href="/public/styles/epic-blue.css" />
</head>
<body>
    <div class="small-window window-centered">
        <p class="window-title">Universe is full</p>
        <div class="window-content centered">
            <p>The Universe if full and there's no space for your planet, sorry :/</p>
            <p>You should try again tomorrow server may delete inactive players</p>
            <a class="button-link" href="/logout">Logout</a>
        </div>
    </div>
</body>
</html>