html, body {
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
body {
    background-image: url('/public/images/background.jpg');
    background-attachment: fixed;
    background-size: 100%;
    min-width: 800px;
    min-height: 600px;
    overflow: auto;
}
header {
    background-color: rgb(53, 69, 102);
}
footer {
    clear: both;
    width: 100%;
    text-align: center;
    color: #888;
}
main {
    margin-top: 10px;
    float: left;
    position: relative;
    left: calc(50% - 182px);
    transform: translateX(-50%);
}
nav {
    background-color: rgb(53, 69, 102);
    border: solid rgb(70, 80, 119) 2px;
    width: 180px;
    float: left;
}
nav .nav-title {
    background-color: rgb(38, 49, 69);
    margin: 0;
    padding: 0;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: rgb(151, 169, 248);
    font-weight: bold;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    margin-top: 2px;
}
nav ul li:last-child {
    margin-bottom: 2px;
}

.cb {
    clear: both;
}
.player-name {
    margin-left: 100px;
}
#resources-bar-wrapper {
    margin-top: 10px;
    text-align: center;
}
#resources-bar {
    display: inline-block;
}
.resource {
    float: left;
    margin-left: 75px;
    text-align: center;
}
.resource:first-child {
    margin-left: 0;
}
.resource span {
    display: block;
    font-size: 10px;
}
input[type="text"] {
    background-color: rgb(38, 49, 69);
    border: solid rgb(70, 80, 119) 2px;
    padding: 2px;
    color: #eee;
    margin-top: 5px;
}
input[type="submit"],
button,
.button-link {
    text-decoration: none;
    background-color: rgb(38, 49, 69);
    border: solid rgb(70, 80, 119) 2px;
    padding: 2px 12px;
    color: #eee;
    margin-top: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}
input[type="submit"]:hover,
button:hover,
.button-link:hover {
    background-color: rgb(55, 63, 94);
}
.small-window {
    width: 400px;
    border: solid black 2px;
    background-color: rgb(53, 69, 102);
    padding: 5px;
}
.window-title {
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
    background-color: rgb(38, 49, 69);
    border: solid rgb(70, 80, 119) 2px;
    font-weight: bold;
}
.window-content {
    box-sizing: border-box;
    margin-top: 10px;
    border: solid rgb(70, 80, 119) 2px;
    padding: 5px;
}
.window-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.centered {
    text-align: center;
}
.error {
    color: red;
    font-size: 12px;
    text-align: center;
}
.overview {
    width: 480px;
}
.overview table {
    border: solid rgb(70, 80, 119) 2px;
    border-top: none;
}
.overview td {
    background-color: rgb(53, 69, 102);
    width: 160px;
    padding: 5px;
    text-align: center;
}
.buildings {
    width: 840px;
}
.building {
    height: 130px;
    margin-top: 5px;
}
.building-image {
    background-color: rgb(53, 69, 102);
    float: left;
    width: 130px;
    height: 130px;
    padding: 5px;
    box-sizing: border-box;
}
.building-details {
    background-color: rgb(53, 69, 102);
    float: left;
    width: 500px;
    margin-left: 5px;
    height: 130px;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
}
.building-build {
    background-color: rgb(53, 69, 102);
    float: left;
    width: 200px;
    margin-left: 5px;
    height: 130px;
    text-align: center;
    box-sizing: border-box;
}
.building-build a {
    text-decoration: none;
    color: green;
    font-size: 18px;
}