<nav>
    <p class="nav-title">Dark Nova (v 0.1)</p>
    <p class="nav-title">Epic blue-ish</p>
    <ul>
        <li><a href="./">Overview</a></li>
        <li><a href="./buildings">Buildings</a></li>
        <li><a href="./economy">Economy</a></li>
        <li><a href="./research">Research</a></li>
        <li><a href="./shipyard">Shipyard</a></li>
        <li><a href="./fleet">Fleet</a></li>
        <li><a href="./technology">Technology</a></li>
        <li><a href="./universe">The Universe</a></li>
        <li><a href="./defense">Defense</a></li>
    </ul>
    <p class="nav-title">Utils</p>
    <ul>
        <li><a href="./messages">Messages</a></li>
        <li><a href="./friends">Friends</a></li>
        <li><a href="./options">Options</a></li>
        <li><a href="/rules">Rules</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>